{% extends "projects/project_interview.html" %}

{% block head %}
    {{ block.super }}
    {% include "rdmo_ts4nfdi/project_interview_head.html" %}
{% endblock head %}

{% block css %}
    {{ block.super }}
    {% include "rdmo_ts4nfdi/project_interview_css.html" %}
{% endblock css %}

{% block js %}
    {{ block.super }}
    {% include "rdmo_ts4nfdi/project_interview_js.html" %}
{% endblock js %}

{% block extra_body %}
    {{ block.super }}
    {% include "rdmo_ts4nfdi/project_interview_extra_body.html" %}
{% endblock extra_body %}
